<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="EXECUTABLE_PLUGINS_PATH" value ="C:\MyProjects\FDS\FDSProject\PluginsExecutable"/>
    </appSettings>
  <connectionStrings>
    <remove name="NServiceBusDb" />
    <remove name="ManagingDb" />

    <add name="NServiceBusDb" connectionString="Data Source=DESKTOP-J1D4PSF\SQLEXPRESS;Initial Catalog=FDS_NServiceBus;User ID=MyAdmin;Password=1"/>
    <add name="ManagingDb" connectionString="Data Source=DESKTOP-J1D4PSF\SQLEXPRESS;Initial Catalog=FDS_Managing;User ID=MyAdmin;Password=1"/>
  </connectionStrings>
</configuration>