<configuration>
  <connectionStrings>
    <remove name="NServiceBusDb" />
    <remove name="ManagingDb" />

    <add name="NServiceBusDb" connectionString="Data Source=DESKTOP-J1D4PSF\SQLEXPRESS;Initial Catalog=FDS_NServiceBus;User ID=MyAdmin;Password=1"/>
    <add name="ManagingDb" connectionString="Data Source=DESKTOP-J1D4PSF\SQLEXPRESS;Initial Catalog=FDS_Managing;User ID=MyAdmin;Password=1"/>
  </connectionStrings>
</configuration>